@import '../../../styles/variables/colors.module.scss';

.button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    &__primary{
        background-color: $primary;
        color: $white;
    }
}