@import '../../../styles/variables/colors.module.scss';

.button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: $white ;

    &__primary {
        background-color: $primary;
    }

    &__secondary {
        background-color: transparent;
        border: solid 2px $primary;
        color: $primary;
    }

    &__disabled {
        background-color: transparent;
        border: solid 2px lightgray;
        color: lightgray;
        cursor: default;
        pointer-events: none;
    }
}