@import '../../../styles/variables/colors.module.scss';

.title {
    position: relative;

    .text {
        z-index: 2;
        position: relative;
        font-family: 'KumbhSans-Bold';
    }

    .underline {
        position: absolute;
        bottom: 5px;
        height: 10px;
        width: 100%;
        background-color: $yellow;

        @media screen and (max-width: 900px) {
            height: 5px;
        }
    }

    &__primary {
        .text {
            font-size: 30px;

            @media screen and (max-width: 900px) {
                font-size: 20px;
            }
        }
    }

    &__major {
        .text {
            font-size: 60px;

            @media screen and (max-width: 900px) {
                font-size: 45px;
            }
        }

        .underline {
            bottom: 10px;
            height: 15px;
        }


    }

}