$primary : #6B3FE9;
$white : white;
$white-transparent : #ffffff80;
$grey : #808080;
$grey-light : #ded8dd;
$yellow : #ECD03D;
$green : #53BB4E;
$green-light : #CCEBCA;
$red : #F64F59;
$red-light : #FCCACD;
