@import '../../../styles/variables/colors.module.scss';

$jobDetails-header : 10vh;
$jobDetails-footer : 10vh;
$blocks-margin : 5vh;

.jobDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48vw;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

    @media screen and (max-width: 900px) {
        height: 80vh;
        width: 100%;
    }

    .header {
        margin-bottom: 40px;
        min-height: $jobDetails-header;

        &__intitule {
            font-size: 25px;
        }

        &__place {
            font-size: 15px;
        }

        &__modality {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
        }
    }

    .body {
        overflow: auto;
        height: calc(100% - $jobDetails-footer - $jobDetails-header - $blocks-margin);
        white-space: pre-wrap;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        min-height: $jobDetails-footer;

        .originalOffer {
            color: $primary;
            text-decoration: underline;
        }
    }
}