@import '../../styles/variables/colors.module.scss';
@import '../../styles/variables/sizes.module.scss';

/* header */
.header {
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 3;
    margin-top: 5px;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }

    .logo {
        height: 60%;
        width: 20%;
        position: absolute;

        .img {
            width: fit-content !important
        }

        @media screen and (max-width: 900px) {
            height: 40px;
        }
    }

    &__container {
        display: flex;
        width: 95%;
        background-color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
        border-radius: 10px;
        height: $menu-height-responsive;
        padding: 10px;

        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 10px;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;

        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            text-align: center;
        }
    }

    li {
        &:hover {
            color: $primary;
        }

        a {
            font-family: 'KumbhSans-Bold';
            display: block;
            text-decoration: none;
        }
    }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        position: relative;
    }

    .button {
        position: absolute;
        right: 0;
        color: white;
        padding: 5px 10px;
        background: $primary;
        border-radius: 5px;
        cursor: pointer;

        @media screen and (max-width: 900px) {
            position: unset;
        }
    }

    /* menu icon */
    .menuIcon {
        cursor: pointer;
        position: relative;
        user-select: none;
        height: $menu-height-responsive;
        display: flex;
        justify-content: flex-end;

        .navicon {
            position: absolute;
            right: 0;

            &::before,
            &::after {
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }
        }

    }

}

/* menu btn */
.header .menuBtn {
    display: none;
}

.header .menuBtn:checked~.menu {
    max-height: 240px
}

.header .menuBtn:checked~.menuIcon .navicon {
    background: transparent;
}

.header .menuBtn:checked~.menuIcon .navicon:before {
    transform: rotate(-45deg);
}

.header .menuBtn:checked~.menuIcon .navicon:after {
    transform: rotate(45deg);
}

.header .menuBtn:checked~.menuIcon:not(.steps) .navicon:before,
.header .menuBtn:checked~.menuIcon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
    .header {
        height: $menu-height;
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        li {
            float: left;
            padding: 0 20px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu {
            clear: none;
            float: right;
            max-height: none;
        }

        .menuIcon {
            display: none;
        }
    }

}