@import '../../../styles/variables/colors.module.scss';

.subscriptionCard {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 15%;
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 900px) {
        width: 100%;
    }

    svg {
        height: 100px;
        width: 100px;
    }

    &__logo {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__button {
        text-align: center;
    }
}