@import '../../../styles/variables/colors.module.scss';

.explanations {
    height: 15%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
        height: 20%;
    }

    .cantAccess {
        font-weight: bold;
        text-decoration: underline;
    }
}