@import '../../../styles/variables/colors.module.scss';


.export {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff94;
    border-radius: 15px;
    width: 100%;
    padding: 10px;

    @media screen and (max-width: 900px) {
        height: 20%;
        flex-direction: column;
        align-items: baseline;
    }

    .subtitle {
        font-size: 25px;
    }

    &__buttons {
        display: flex;
        column-gap: 15px;
    }
}