@import '../../../styles/variables/colors.module.scss';

.text {
    display: flex;
    width: 200px;

    @media screen and (max-width: 900px) {
        width: 100%;
        justify-content: space-between;
    }

    .statusContainer {
        display: flex;
        align-items: center;

        .dot {
            height: 10px;
            width: 10px;
            border-radius: 10px;
            background-color: grey;
            margin-right: 10px;

            &--toSend {
                background-color: #A5A394;
            }

            &--sent {
                background-color: #46ABF3;
            }

            &--meetingPlanned {
                background-color: #F3C346;
            }

            &--refused {
                background-color: #F36546;
            }

            &--accepted {
                background-color: #48C65C;
            }
        }
    }

    &__colName {
        display: none;

        @media screen and (max-width: 900px) {
            display: flex;
            width: 150px;
            font-family: 'KumbhSans-Bold';
        }
    }

    &__input,
    &__select {
        width: 200px;
        height: 30px;

        @media screen and (max-width: 900px) {
            width: 100%;
        }
    }
}