@import '../../../styles/variables/colors.module.scss';

.jobReseachContainer{
    width: 90%;
    height: 5vh;
    padding : 30px 10px;
    background-color: $white-transparent;
    border-radius: 10;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 10px;
    
    .title {
        width: 1000px;
    }

    input {
        width: 100%;
        padding: 10px;
    }

}