@import './variables/colors.module.scss';

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 900px) {
        flex-direction: column;
        row-gap: 30px;
    }

    &__header {
        margin-bottom: 50px;
    }

    &__body {
        display: flex;
        column-gap: 50px;
        height: 500px;
    }
}