@import './variables/colors.module.scss';

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        row-gap: 30px;
        padding: 0;
    }

    &__header {
        &__title {
            width: fit-content;
            display: flex;
            font-size: 50px;
            column-gap: 20px;
        }
    }

    &__body {
        display: flex;
        height: 100vh;
        align-items: flex-end;
        padding: 50px 0;

        @media screen and (max-width: 900px) {
            height: unset;
            padding: unset;
        }

        .cards {
            height: 400px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            column-gap: 20px;

            @media screen and (max-width: 900px) {
                flex-direction: column;
                row-gap: 30px;
                height: fit-content;
                padding: 30px 0;
            }
        }
    }
}