@import './variables/colors.module.scss';


.followupPage {
    display: flex;
    justify-content: center;
    .table {
        color: $grey;
        width: 90vw;

        span {
            display: flex;
            width: 200px;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            &__data,
            &__actions {
                display: flex;
                background-color: $white-transparent;
                border-radius: 5px;
                padding: 10px;
                align-items: center;

            }

            &__header {
                display: flex;
                padding: 10px;
                font-family: "KumbhSans-Bold";
                
            }

            &__data,
            &__header {
                width: 87%;
                gap: 10px;

                input {
                    width: 200px;
                    height: 30px;

                    @media screen and (max-width: 950px) {
                        width: 20%;
                    }
                }
            }

            &__actions {
                width: 10%;

                .actionButton {
                    background: $grey-light;
                    display: flex;
                    padding: 5px;
                    border-radius: 5px;
                    margin-right: 10px;
                    cursor: pointer;

                    &--green {
                        background: $green-light;
                    }

                    &--red{
                        background: $red-light;
                    }

                    .icon {
                        height: 20px;
                        width: 20px;
                    }
                }

            }


        }
    }
}