@import './variables/colors.module.scss';


.followupPage {
    display: flex;
    justify-content: center;
    height: 100%;

    &__table {
        color: $grey;
        width: 90vw;

        span {
            display: flex;
            width: 200px;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            @media screen and (max-width: 900px) {
                flex-direction: column;
                margin-bottom: 10px;
            }

            &__data,
            &__actions {
                display: flex;
                background-color: $white-transparent;
                border-radius: 5px;
                padding: 10px;
                align-items: center;

                @media screen and (max-width: 900px) {
                    align-items: flex-start;
                }


            }

            &__data,
            &__header {
                width: 87%;
                gap: 10px;

                @media screen and (max-width: 900px) {
                    width: 100%;
                }
            }

            &__data {
                @media screen and (max-width: 900px) {
                    flex-direction: column;
                    margin-bottom: 10px;
                }
            }

            &__header {
                display: flex;
                padding: 10px;
                font-family: "KumbhSans-Bold";

                @media screen and (max-width: 900px) {
                    display: none;
                }
            }

            &__actions {
                width: 10%;

                @media screen and (max-width: 900px) {
                    width: 50%;
                }

                .actionButton {
                    background: $grey-light;
                    display: flex;
                    padding: 5px;
                    border-radius: 5px;
                    margin-right: 10px;
                    cursor: pointer;

                    &--green {
                        background: $green-light;
                    }

                    &--red {
                        background: $red-light;
                    }

                    .icon {
                        height: 20px;
                        width: 20px;
                    }
                }

            }


        }
    }
}