@import './variables/colors.module.scss';

$jobDetails-header : 10vh;
$jobDetails-footer : 5vh;
$blocks-margin : 5vh;

.researchPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $grey;
}